:root{
    --PrimaryColor: #004466;
    --LightShade: #DADDE6;
    --BorderShade: #8694B3;
    --Grey: #797B80;
    --LightGrey: #c8c9cb;
    --Background: #FFFFFF;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--Background);
    margin: 0;
}

.main-container{
    display: block;
    overflow: hidden;
    width: 100%;
}